/* Actual CSS */
@import url(satoshi.css);

:root {
    --right-container-size: 60vw;
    --left-container-size: calc(100vw - var(--right-container-size));

    --right-container-left-space: 4em;

    --fieldset-font-size: 2em;
    --fieldset-font-weight: bold;
}

body {
    /* Reset values */
    margin: 0;
    border: 0;
    padding: 0;

    /* Actual values */

    background-color: #161616;
    color: #FFF8E8;
    font-family: Satoshi-medium;
    
    display: flex;
    flex-direction: row;
    height: 100vh;
}

#left-container {
    width: var(--left-container-size);
    background-color: #40534C;
}

div#left-container img {
    width: 100%;
    height: 100%;
    
    object-fit: cover;
}

#right-container{
    width: var(--right-container-size);

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sign-up-form {
    background-color: #FFF8E8;
    color: #66635D;

    padding: 2em var(--right-container-left-space);
    padding-right: 0;
}

form {
    width: clamp(250px, 90%, 500px);
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
}

fieldset:first-child {
    margin-bottom: 1em;
}

fieldset#personal-info::before{
    content: "Personal information";
    font-size: var(--fieldset-font-size);
    font-weight: var(--fieldset-font-weight);

    margin-bottom: 0.2em;
}

fieldset#log-in-credentials::before{
    content: "Log in Credentials";
    font-size: var(--fieldset-font-size);
    font-weight: var(--fieldset-font-weight);

    margin-bottom: 0.2em;
}

#inputs-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    width: max(inherit, 500px);
}

.inputs {
    display: flex;
    flex-direction: column;

    width: max(100px, 200px);
    margin-right: 1em;
    margin-bottom: 0.5em;
}

input {
    height: 1.5em;

    padding-left: 0.5em;

    background-color: #FFF8E8;
    color: #66635D;
    border: #E0DACC solid 0.2em;
    border-radius: 0.5em;
}

label {
    padding-left: 0.3em;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: inherit;

    padding: 1.3em;
    border-radius: 1em;

    background-color: #66635D;
    color: #FFF8E8;

    font-weight: var(--fieldset-font-weight);
}

button:first-child {
        margin-right: 1.5em;
}

button:hover {
    background-color: #46433D;
    color: #c0bAaC;
    cursor: pointer;
}

#submit-buttons {
    display: flex;
    margin-left: calc(var(--right-container-left-space) - 1em);
    margin-top: 2em;
}